@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/*------------------------------------*\
Reset Stylesheet
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {height: 100%;}

body {
	height: 100%;
	font: 13px/18px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url(../img/bg.jpg) repeat;
}

ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {
	color: #000;
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}

img {display: table;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS Reset */

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/*==========PANEL-TOP==========*/
.panel-top {
	height: 33px;
	border-top: 3px solid  #c33;
	background: #2a2b2c;
}

.social {padding: 4px;}

.social a {
	display: inline-block;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	background: url(../img/sprite-social.png) no-repeat;
	border-radius: 50%;
}

.social a.s-dribble {background-position: -3px -0px;}
.social a.s-fb {background-position: -29px -0px;}
.social a.s-mail {background-position: -3px -26px;}
.social a.s-tw {background-position: -29px -26px;}
.social a.s-vimeo {background-position: -3px -52px;}

.login {padding-top: 7px;}

.login a,
.login span {color: #fff;}

.login a:hover {text-decoration: underline;}

.basket {
	width: 90px;
	height: 45px;
	margin-left: 25px;
	background: #c33 url(../img/cart.png) no-repeat 8px 7px;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

.basket a {
	display: block;
	height: 45px;
	padding: 15px 0 0 41px;
	color: #fff;
}

/*==========HEADER==========*/
#header {
	padding: 18px 0;
}

#logo img,
#logo span {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
}

#logo span {font-size: 30px;}

.nav {margin-top: 25px;}

.nav li {
	position: relative;
	float: left;
}

.nav li:before {
	content: '';
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -18px;
	display: none;
	width: 35px;
	border-top: 3px solid #efc539;
}

.nav li:hover:before,
.nav li.active:before {display: block;}

.nav li + li {margin-left: 30px;}

.nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

/*==========HOME==========*/
#home {
	margin-bottom: 40px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
}

.home-bg {
	padding: 20px 0;
	background: #cc3333;
	box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
	font: normal 28px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs li a,
.breadcrumbs li span {
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li .sp {
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}

.link-home {
	display: inline-block;
	width: 36px;
	height: 33px;
	margin-top: 12px;
	background: url(../img/home.png) no-repeat;
}

/*==========SORTING==========*/
.sorting {
	margin-bottom: 40px;
	padding: 18px 8px;
	border: 1px solid #eaeaea;
	background: #fff;
	border-radius: 3px;
}

.s-category {
	padding-top: 2px;
}

.s-category li {
	padding: 0 15px 0 9px;
	float: left;
	background: url(../img/s-sp.png) no-repeat right 4px;
}

.s-category li:last-child {
	background: none;
	padding-right: 0;
}

.s-category a {
	color: #1e1e20;
	text-transform: uppercase;
}

.s-category a:hover,
.s-category li.active a {
	color: #8b8b94;
}

.sel-sorting {
	margin-right: 80px;
}

.s-list a {
	display: inline-block;
	vertical-align: middle;
}

.s-list a + a {margin-left: 10px;}

.ic-squares {
	width: 28px;
	height: 20px;
	background: url(../img/squares.png) no-repeat;
}

.ic-list {
	width: 30px;
	height: 20px;
	background: url(../img/list.png) no-repeat;
}

/*==========MIDLE==========*/
.midle {
	padding-bottom: 300px;
}

.sidebar {
	width: 240px;
}

.content {
	margin-right: 285px;
}

.products {
	width: 215px;
	height: 370px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}

.products:nth-child(3n) {
	margin-right: 0;
}

.p-img {
	position: relative;
	height: 210px;
	overflow: hidden;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,.75);
}

.sale {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 3;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(204,51,51,.6);
}

.p-footer {padding: 0 8px 15px;}
.p-footer p {margin-bottom: 15px;line-height: 20px;}
.p-footer p strong {font-weight: bold;}

.products h6,
.s-products-info h6 {
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.products h6 span {
	font-weight: normal;
	font-style: italic;
}
.products h6 a:hover,
.s-products-info h6 a:hover {text-decoration: underline;}

.price,
.price-new,
.price-lg {
	display: inline-block;
	font-weight: bold;
	margin-top: 6px;
}

.price {text-decoration: line-through;}

.price-lg{font-size: 16px;}

.price-lg {font-size: 16px;}

.price-new {
	padding: 1px 3px;
	line-height: 16px;
	color: #fff;
	background: #c33;
}

.add-cart {
	display: block;
	padding: 5px 8px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: #1e1e20;
	border-radius: 5px;
}

.add-cart:hover {background: #888;}

.rate {
	width: 85px;
	height: 15px;
	margin: 10px 0 15px;
	background: url(../img/star.png) repeat-x;
}

.rate > div {
	height: 100%;
	background: url(../img/star1.png) repeat-x;
}

.pagination {
	margin: 20px 0 75px;
	padding: 10px 15px;
	bottom: 1px solid #eaeaea;
	background: #fff;
}

.pagination ul li {
	float: left;
	margin-right: 10px;
}

.pagination ul a {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.pagination ul li.active a {
	color: #cc3333;
}

/*==========SIDEBAR==========*/
.s-title {
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 15px 15px;
	font: normal 18px/20px 'Oswald', sans-serif;
	color: #2a2b2c;
	text-transform: uppercase;
	border-bottom: 1px dotted #d5d5d5;
}

.s-title .s-title-br {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 7px;
	margin-top: -3px;
	background: #c33;
}

.s-products {
	margin: 15px 0 30px;
	padding-left: 15px;
}

.s-products-item {
	margin-bottom: 10px;
}

.s-products-img {
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}

.s-products-img img {
	display: block;
	width: 100%;
}

.s-products-info {
	padding-top: 7px;
	margin-left: 105px;
}

.s-products-info h6 {
	margin-top: 0; !important
}

.ic-comment,
.ic-comment-white {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 13px;
	background: url(../img/comment.png) no-repeat center;
}

.ic-comment-white {
	background: url(../img/comment1.png) no-repeat center;
}

.comment {
	font-size: 11px;
	color: #1e1e20;
	text-transform: uppercase;
}

.cat-list {
	margin: 10px 0 30px 0;
	padding-left: 15px;
	list-style: url(../img/cat-list-style.png);
	list-style-position: inside;
}

.cat-list li {
	padding: 10px 0;
	border-bottom: 1px dotted #9fa0a1;
}

.cat-list li:last-child {
	border: none;
	padding-bottom: 0;
}

.cat-list li a {
	font-weight: bold;
}

.cat-list li a:hover {
	text-decoration: underline;
}

.cat-list li span {
	display: inline-block;
	margin-left: 5px;
	color: #7d7e7e;
}

.s-search {
	position: relative;
	margin-top: 15px;
	padding-left: 15px;
}

.s-search input[type="text"] {
	display: block;
	height: 40px;
	width: 100%;
	padding: 0 45px 0 15px;
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 12px rgba(0,0,0,.06);
}

.s-search input[type="text"]::-webkit-input-placeholder {
	font-style: italic;
	color: #c3c2c2;
	font-weight: bold;
}

.s-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 2px;
	height: 40px;
	width: 40px;
	border: none;
	background: transparent url(../img/s-search.png) no-repeat center;
	cursor: pointer;
}

/*==========FOOTER==========*/
#footer {
	position: relative;
	height: 300px;
	margin-top: -300px;
	padding: 25px 0;
	border-top: 5px solid #000;
	background: #444 url(../img/f-bf.jpg) repeat;
}

#footer p {
	color: #fff;
}

.f-about {
	float: left;
	width: 240px;
	margin-right: 20px;
}

.f-social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: rgba(255,255,255,.1) url(../img/f-sprite-social.png) no-repeat;
	border-radius: 50%;
}

.f-social a.s-dribble {background-position: -6px 5px;}
.f-social a.s-fb {background-position: 0 -88px;}
.f-social a.s-mail {background-position: -7px -19px;}
.f-social a.s-tw {background-position: -5px -41px;}
.f-social a.s-vimeo {background-position: -5px -65px;}

.f-arhives {
	float: left;
	margin-right: 45px;
	width: 210px;
}

.f-populars {
	float: left;
	width: 220px;
	margin-right: 20px;
}

.f-populars .s-products-info h6 a,
.f-populars .comment {
	color: #fff;
}

.f-populars .s-products-img {
	height: 80px;
	overflow: hidden;
}

.f-populars .s-products-img img {
	height: 100%;
}

.f-search {
	float: left;
	width: 205px;
}

.f-search-inp {
	display: block;
	height: 35px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 10px;
	font-style: italic;
	font-size: 13px;
	color: #aaa;
	border: 1px solid  #333434;
	background: rgba(0,0,0,.35);
}

#footer a.tags {
	display: inline-block;
	padding: 3px 7px;
	margin-bottom: 4px;
	font-size: 13px;
	color: #fff;
	background: #2a2a2a;
}

.f-title {
	margin: 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.f-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.f-list li {
	padding: 8px 0;
	border-bottom: 1px dotted  #acaba9;
}

.f-list li:last-child {border: none;}

.f-list li a {color: #fff;}

.footer-bottom {
	margin-top: 20px;
	padding: 10px 0;
	border-top: 2px solid  #000;
	background: #1b1b1b;
}

.footer-bottom a,
#footer .footer-bottom p {
	font-size: 11px;
	color: #6e6e6e;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.footer-bottom a + a {
	display: inline-block;
	margin-left: 15px;
}

.footer-bottom a:hover {text-decoration: underline;}

.home-link {
	position: absolute;
	top: -15px;
	right: 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url(../img/arrow.png) no-repeat;
}

/*==========SLIDER==========*/
.ui-slider {
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    cursor:pointer;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {height: 6px;}
.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: -8px;
}

.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}

#amount, label[for="amount"] {
	background: transparent; 
	font-weight: normal;
	font-size: 13px;
	color: #2A2B2C !important;
	vertical-align: middle;
}

#amount {width: 70px;}

.btn-bl {
	display: inline-block;
	margin-left: 15px;
	padding: 5px 10px;
	font-size: 10px;
	color:#fff;
	text-transform: uppercase;
	border: none;
	background: #1e1e20;
	cursor: pointer;
}

.s-slider {padding: 0 20px;}

.s-slider p {margin-bottom: 20px;}

.ui-widget-content {
	margin: 25px 0;
    background: #fff;
    border-bottom: 1px solid #CECECE;
    color: #222222;
    
}

.ui-widget-content a {color: #222222;}

.ui-widget-header {
    background: #666;
    color: #222222;
    font-weight: bold;
}

.ui-widget-header a {color: #222222;}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #555555;
    width: 22px;
    height: 15px;
    background: #cc3333;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    font-weight: normal;
    color: #212121;
}

/*==========SELECT==========*/
.cusel {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 25px;
    font-size: 12px;
    border: 1px solid #EAEAEA;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.cuselFrameRight {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url(../img/select-arrow.png) no-repeat center;
}

.cuselText { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 25px;
    padding: 0 25px 0 5px; 
    font-weight: bold;
    font-size: 12px; 
    line-height: 25px;
    color: #7e7e7f;
    cursor: pointer;
    overflow: hidden;
}

* html .cuselText {height: 30px;}

.cusel span { 
    display: block;
    padding: 5px 15px; 
    font-weight: bold;
    font-size: 13px; 
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
}

.cusel span:hover,
.cusel .cuselOptHover { background: #eee;}

.cusel .cuselActive,
.cusel .cuselActive:hover { background: #DA0612; color: #fff;}

.cusel:hover,
.cusel:focus,
.cuselFocus {background: transparent;}

.cusel:hover .cuselFrameRight,
.cusel:focus .cuselFrameRight,
.cuselFocus .cuselFrameRight {
    background: transparent url(../img/select-arrow.png) no-repeat center;
}

.cuselOpen {z-index: 999;}

.classDisCusel,
.classDisCusel .cuselFrameRight {
    background-image: url(../img/select-arrow.png) no-repeat center;
    cursor: default;
    color: #ccc;
}

.classDisCusel .cuselText {
    cursor: default;
    color: #ccc;
}

.cusel .cusel-scroll-wrap {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    min-width: 100%;
    width: auto;
    height: auto !important;
    visibility: hidden;
    margin-top:5px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.cusel .jScrollPaneContainer {
    position: relative;
    z-index: 5;
    overflow: hidden;
    background: #fff;
}

.cusel-scroll-pane {
    top: 5px;
    right: 3px;
    left: 0;
    width: auto !important;
}

.cusel .jScrollPaneTrack {
    position: absolute;
    top: 0;
    right: 2px;
    height: 100%;
    width: 5px !important;
    background: #EEE;
}

.cusel .jScrollPaneDrag {
    position: absolute;
    left: 0px;
    width: 5px !important;
    height: 27px !important;
    background: #6E939E;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 0 !important;
    overflow: hidden;
}

.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0 !important;
    overflow: hidden;
}

.cusel .jScrollArrowUp {
    position: absolute;
    top: 0;
    right: 4px;
    width: 0 !important;
    height: 0;
    cursor: pointer;
    overflow: hidden;   
}

.cusel .jScrollArrowDown {
    width: 0 !important;
    height: 0;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 4px;
    cursor: pointer;
    overflow: hidden;
}